@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #CCC0C0;
    font-family: "Asimovian", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    min-height: 10vh;
    padding: 0 50px;
    background-color: #4C171B;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 2px #1A0709B6;
}

a {
    text-decoration: none;
    color: #E5D8D8;
}

a h1 {
    transition: transform .5s ease;
}

a:hover h1 {
    transform: scale(1.1);
}

button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.controls {
  margin-bottom: 20px;
}

#newGameBtn {
  padding: 10px 20px;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

.difficulty {
  margin-top: 10px;
}

.difficulty button {
  margin-right: 10px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  width: 80px
}