@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #CCC0C0;
    font-family: "Asimovian", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5D8D8;
}

a h1 {
    transition: transform 0.5s ease;
}

a:hover h1 {
    transform: scale(1.1);
    color: #fb4a59;
}

header {
    width: 100%;
    min-height: 10vh;
    padding: 0 50px;
    background-color: #4C171B;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 2px #1A0709B6;
}

main {
    margin-top: 10vh;
    height: 70vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5D8D8;
    border-radius: 8px;
    padding: 10px;
}

.canvas {
    border: 1px solid white;
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

.canvas1 {
    border: 1px solid rgb(73, 1, 1);
    border-radius: 20px;
    margin-top: 15px;
    display: none;
    backdrop-filter: blur(3px);
}

.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: rgb(37, 127, 37);
    color: black;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gameScreen {
    display: none;
}